.editor {
  cursor: text;
  padding-top: 60px;

  textarea {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    padding: 0 40px;
    outline: none;
    font-family: 'Source Serif Pro', serif;
    font-size: 16pt;
    line-height: 22pt;
    display: block;
    border: none;
    overflow: hidden;
    resize: none;
    background: transparent;
    color: inherit;
  }

  .editor-scrollSpacer {
    height: ~"calc(100% - 22pt)";
  }

  &.isSmaller {
    textarea {
      font-size: 12pt;
      line-height: 17pt;
      max-width: 590px;
      padding: 0 20px;
    }

    .editor-scrollSpacer {
      height: ~"calc(100% - 17pt)";
    }
  }

  &.isLarger {
    textarea {
      font-size: 24pt;
      line-height: 35pt;
      max-width: 890px;
      padding: 0 40px;
    }

    .editor-scrollSpacer {
      height: ~"calc(100% - 35pt)";
    }
  }
}

.theme-light .editor {
  color: @light-theme-body-text;
}

.theme-dark .editor {
  color: @dark-theme-body-text;
}
