@import "theme.less";
@import "header.less";
@import "preferences.less";
@import "editor.less";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  &.theme-light {
    background: @light-theme-background;
  }

  &.theme-dark {
    background: @dark-theme-background;
  }
}

.l-appWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: text;
}

body, button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
}

body.theme-light {
  color: @light-theme-body-text;
}

body.theme-dark {
  color: @dark-theme-body-text;
}

.theme-light button {
  color: @light-theme-control-foreground;
}

.theme-dark button {
  color: @dark-theme-control-foreground;
}
