@light-theme-background: #fdf6e3;
@dark-theme-background: #002b36;

@light-theme-background-highlights: #eee8d5;
@dark-theme-background-highlights: #073642;

@light-theme-body-text: #657b83;
@dark-theme-body-text: #839496;

@light-theme-control-background: @light-theme-background-highlights;
@dark-theme-control-background: @dark-theme-background-highlights;
@light-theme-control-foreground: #586e75;
@dark-theme-control-foreground: #93a1a1;
@light-theme-active-control-background: #268bd2;
@dark-theme-active-control-background: #268bd2;
@light-theme-active-control-foreground: #fdf6e3;
@dark-theme-active-control-foreground: #002b36;

@light-theme-check-url: url('../img/check-base01.svg');
@dark-theme-check-url: url('../img/check-base1.svg');
@light-theme-check-hover-url: url('../img/check-base3.svg');
@dark-theme-check-hover-url: url('../img/check-base03.svg');
@light-theme-chevron-down-url: url('../img/chevron-down-base01.svg');
@dark-theme-chevron-down-url: url('../img/chevron-down-base1.svg');
@light-theme-chevron-down-hover-url: url('../img/chevron-down-base3.svg');
@dark-theme-chevron-down-hover-url: url('../img/chevron-down-base03.svg');